@font-face {
    font-family: Staatliches;
    src: url("../font/Staatliches-Regular.ttf") /* TTF file for CSS3 browsers */
}
@font-face {
    font-family: TCM;
    src: url("../font/TCM_____.TTF") /* TTF file for CSS3 browsers */
}
body{
    /* font-family: 'Staatliches-Regular.ttf', cursive; */
    background:#314D63 0% 0% no-repeat padding-box;
    opacity: 1;
    display: grid;
    grid-template-columns: 60% 40% ;
    padding-top: 20px; 
    padding-left: 20px;
    padding-right: 20px;
}
#box{
    background: #FFFFFF;
    border-radius: 15px;
    width: 100%;
    height: 250px;
    opacity: 1;
}
#header{
    font-size: 68px;
}

aside{
    display: grid;
    grid-template-columns: 70% 30% ; 
    height: 250px;
    padding-top: 40px; 
    padding-left: 30px;
    padding-right: 10px;
}
img{
    margin-top: 50px;
    width: 285px;  
    object-fit: cover; 
  
}
article{
    display: grid;
    grid-template-rows:50% 50%;
    height: 1000px;
    margin-left: 20px;
}
menu{
    display: flex; 
    justify-content: flex-end;
    margin-right: 100px;
    margin-top: 50px;
}
char{
    display: flex; 
}
.boxmenu{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #B2E8E8; 
    border-radius: 5px;
    font-family:'TCM';
    padding: 0px 15px ;  
    opacity: 1;
}
.rotate{
    font-size: 25px;
    text-align: left;
    font-family:'TCM';
    color: #595C59;
    transform: rotate(90deg);
}
.minibox1{
    width: 100%; height:97%; font-family:'TCM';
}
.minibox2{
    width: 100%; height:97%; margin-top: 1%; font-family:'TCM';
}
@media screen and (max-width:1600px) { /*responsive design*/
    img{
        margin-left: auto;
        margin-right: 5px;
        margin-top: 50px;
        width: 285px;  
        object-fit: cover; 
    } 
    body{ 
        display: grid;
        grid-template-columns: 100%;

    }
    article{
        margin-top: 20px;
        display: grid;
        height: auto;
        grid-template-columns:50% 50%;
        grid-template-rows: 100%;
        margin-left: 0px;
    }
    .minibox1{
        width: 99%;
        height: 100%;
        margin-right: 1%; 
        margin-top: 0px; 
    }
    .minibox2{
        width: 99%;
        height: 100%; 
        margin-left: 1%;
        margin-top: 0px; 
    }
     

}